$bgblue: #1A2B50; //primary color
$blue: #84AFDD; //secondary color
$hblue: #3d78b8; //heading color

body {
  color: black;
  font-size: 13px;
}

.main-view {
  padding-top: 100px;
}

.card {
  margin-top: 10px;
}

button.btn-link {
  background-color: $blue;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  font-size: 14px;
  font-weight: 700;
  border-width: 2px;
}

button.btn-link:hover {
  text-decoration: none;
  background-color: white;
  color: $bgblue;
}

img.movie-img {
  max-height: 500px;
}

button.mt-4.btn.btn-primary:hover {
  background-color: white;
  color: $bgblue;
  font-weight: 700;
}

button.mt-4.btn.btn-primary {
  font-weight: 700;
  margin-left: 20px;
}

button.btn.btn-primary.mt-3:hover {
  background-color: white;
  color: $bgblue;
  font-weight: 700;
}