$bgblue: #1A2B50; //primary color
$blue: #84AFDD; //secondary color
$hblue: #3d78b8; //heading color

button.profile-btn {
  background-color: $blue;
  color:white;
  text-decoration: none;
  padding: 1em 1em;
  font-size: 14px;
  margin: 15px;
}

button.profile-btn:hover {
  text-decoration: none;
  background-color: white !important;
  color: $blue !important;
}

button.profile-btn-2 {
  text-decoration: none;
  padding: 1em 1em;
  font-size: 14px;
  margin: 15px;
}

button.profile-btn-2:hover {
  text-decoration: none;
  background-color: white !important;
  color: red;
}

h4.mt-4.text-center, h4.mt-5.text-center {
  color: $blue;
}

.profile-form_label {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 50px;
}

.form-validation-error {
  font-size: 10pt;
  font-weight: 300;
  color: red;
}

.profile-form {
  background-color: black;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid $blue;
  border-radius: 5px;
  padding-right: 30px;
}

img.card-img-top {
  width: 75%;
  margin: 5px;
}

p.text-center.mt-3 {
  color: white;
}

button.rem-fav {
  background-color: $blue;
  color:white;
  text-decoration: none;
  font-size: 12px;
  padding: 6px;
}

button.rem-fav:hover {
  color: white;
  background-color: $bgblue;
  text-decoration: none;
  font-size: 12px;
  padding: 6px;
}
