$bgblue: #1A2B50; //primary color
$blue: #84AFDD; //secondary color
$green: #88ad8b; //third color

body {
  color: white;
}

.h5 {
  color: $blue;
}

span {
  color: white;
}

img.logo {
  justify-content: center;
}