$bgblue: #1A2B50; //primary color
$blue: #84AFDD; //secondary color
$hblue: #3d78b8; //heading color

.my-flix {
  color: $blue;
}

body {
  background-color: $bgblue;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
}

h1, .h1 {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  color: $blue;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
}

.btn-primary {
  background-color: $blue;
  border: $blue;
  font-size: 14px;
}

